asgiref==3.11.0
boto3==1.42.21
botocore==1.42.21
dj-database-url==3.1.0
Django==5.2.8
django-decouple==2.1
django-storages==1.14.6
jmespath==1.0.1
pillow==12.1.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.2
whitenoise==6.11.0
