{% extends 'base.html' %}

{% block title %}Contraseña Restablecida{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="ui-card">
            <div class="ui-header">
                <h5 class="mb-0">Contraseña Restablecida</h5>
            </div>
            <div class="card-body p-4 text-center">
                <i class="bi bi-check-circle text-success display-1 mb-3"></i>
                <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
                <div class="d-grid gap-2">
                    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
